.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar-dark .navbar-nav .nav-link {
    color: #222222;
}
.nav-bg-bwh{
  background-color: #8997f5;
  box-shadow: 2px 2px 4px #000000;
}
@media (max-width: 767px) {
  .nav-bg-bwh{
    background-color: #8997f5;
    box-shadow: none;
  }
}
.nav-bg-atas{
  background-color: #7a8cff;
  height: 200%


}
.semi-light-color{
  color:  white;
  font-weight: bolder;
  font-size: 150%
  /* height: 200 */
}
/* .nav-point{
  border-left: solid 1px;
  align-items: center;
} */
.nav-point{
  width:6em;
  text-align:center;
  /* border-spacing: 5em; */

}
.active{
  border-bottom: solid;
  border-color: #7a8cff
  /* font-weight: bold; */
  /* border-width: thin; */
  /* border-spacing: 5em; */
}

.about-us{
  position: absolute;
  margin-top: 3em;
  margin-left: 6em;
  margin-right: 6em
}
.image{
  max-width: 35em;
  margin-top: 2em;
  margin-left:0em;
  margin-right: 3em;
}
@media (max-width: 767px) {
  .active{
    border-bottom: none;
    border-color: #7a8cff

  }
  .about-us{
    position: absolute;
    margin-top: 3em;
    margin-left: 0em;
    margin-right: 0em;
  }
  .image{
    display: none
  }

}
h1{
  color:#d2d2d4;
  font-weight: normal;

  /* font-size: 3em */
}
h4{
  font-weight: lighter;
  color: #d2d2d4;
}
p,li{
  color:#d2d2d4
}
