.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navbar-dark .navbar-nav .nav-link {
    color: #222222;
}
.nav-bg-bwh{
  background-color: #8997f5;
  box-shadow: 2px 2px 4px #000000;
}
.nav-bg-atas{
  background-color: #7a8cff;
  height: 200%


}
.semi-light-color{
  color:  white;
  font-weight: bolder;
  font-size: 150%
  /* height: 200 */
}
/* .nav-point{
  border-left: solid 1px;
  align-items: center;
} */
